/*
#################################################
global settings
#################################################
*/

*,
html,
body,
h1,
h2,
h4 {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --blue: #0065fc;
  --blue-light: #deebff;
  --grey: #f2f2f2;
  --border-1-grey: 1px solid var(--grey);
  --border-2-grey: 2px solid var(--grey);
  --border-1-blue: 1px solid var(--blue);
  --border-2-blue: 2px solid var(--blue);
  --border-5-white: 5px solid #fff;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2 {
  font-size: 21px;
  font-weight: bold;
}

h3 {
  font-size: 15px;
  font-weight: bold;
}

/*
#################################################
# header
#################################################
*/

header,
main {
  padding: 0 50px;
}

#header-navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  height: 120px;
  padding-bottom: 20px;
}

#header-navbar img {
  padding: 0 20px;
  position: absolute;
  top: calc(50% - 15px);
}

#primary-navigation {
  display: flex;
  gap: 15px;
}

.primary-navigation-item {
  text-transform: capitalize;
}

.primary-navigation-item a {
  display: inline-block;
  padding: 50px 25px 0;
}

.primary-navigation-item a:hover {
  border-top: var(--border-2-blue);
  color: var(--blue);
}

/*
#################################################
# Search form
#################################################
*/

main > div {
  font-size: 15px;
}

h1 {
  margin-bottom: 10px;
}

#search {
  margin: 20px 0;
}

#form {
  position: relative;
}

#btn-icon {
  border: var(--border-1-grey);
  border-right: none;
  border-radius: 15px 0 0 15px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.fa-map-marker-alt {
  font-size: 18px;
}

#form input,
#form button[type="submit"] {
  line-height: 46px; /*height50px - border2px */
}

#form input {
  position: absolute;
  z-index: -1;
  left: 35px;
  width: 333px;
  border-radius: 15px;
  border: var(--border-1-grey);
  padding-left: 30px;
  font-weight: bold;
}

.desktop-search {
  position: absolute;
  left: 318px;
  width: 134px;
  background-color: var(--blue);
  color: #fff;
  border: var(--border-1-blue);
  border-radius: 0 15px 15px 0;
}

.mobile-search {
  position: absolute;
  left: 318px;
  width: 50px;
  background-color: var(--blue);
  color: #fff;
  border: var(--border-1-blue);
  border-radius: 15px;
  display: none;
}

.fa-search {
  font-size: 17px;
}

/* 
#################################################
# Filtres
#################################################
*/

#filtres {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  margin: 35px 0;
}

#filtres ul {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 content;
  gap: 15px;
}

#filtres button {
  display: flex;
  align-items: center;
  gap: 13px;
  padding-right: 20px;
  border-radius: 24px;
  border: var(--border-2-grey);
  background-color: #fff;
  font-weight: 700;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
}

#filtes > span {
  display: inline-block;
}

#filtres .fas:nth-child(odd):before {
  color: var(--blue-light);
}

#filtres .fas::before {
  color: var(--blue);
}

#filtres .fa-stack {
  font-size: 24px;
  margin-left: -7px;
  margin-top: -3px;
}

#filtres .fa-stack-1x::before {
  font-size: 19px; /* icon height */
}

#filtres .fa-circle {
  font-size: 51px;
}

#filtres .fas:nth-child(odd):before {
  color: var(--blue-light);
}

#filtres .fas::before {
  color: var(--blue);
}

#filtres div {
  /* white-space: nowrap; */
  width: max-content;
}

/* 
#################################################
# Animation filtres
#################################################
*/

#filtres button:after {
  content: ">>";
  position: absolute;
  opacity: 0;
  top: 13px;
  right: -20px;
  transition: all 0.5s;
}

#filtres button:hover {
  padding-right: 35px;
  border: 2px solid var(--blue);
}

#filtres button:hover::after {
  opacity: 1;
  right: 10px;
  color: var(--blue);
}

/* 
#################################################
# Info
#################################################
*/

#info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.fa-stack.small {
  font-size: 0.71em;
}

/* #info .fa-stack {
  width: 32px;
} */

#info .fa-circle::before {
  color: var(--grey);
  /* font-size: 23px;
  vertical-align: middle; */
}

#info i:last-of-type::before {
  color: var(--blue);
  /* font-size: 12px; */
}

/* 
#################################################
# Local Hosting
#################################################
*/

#hosting {
  height: 625px;
  display: flex;
  gap: 40px;
  height: 100%;
}

#hosting h2 {
  padding: 5px;
}

#local-hosting {
  flex-basis: 880px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--grey);
  padding: 40px;
  border-radius: 20px;
  overflow: auto;
  /* background-color: #000; */
}

.local-articles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.local-articles a {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.local-articles article {
  background-color: #fff;
  border: 5px solid #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 20px var(--grey);
}

.local-articles img {
  width: 236px;
  height: 114px;
  object-fit: cover;
  object-position: center;
  order: -1;
  border-radius: 15px 15px 0 0;
}

.data,
h3 {
  width: 90%;
  align-self: center;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 2px;
  font-size: initial;
}

.data i,
.data span {
  font-weight: bold;
}

#local-hosting > div + div {
  font-weight: bold;
  padding: 5px 0;
  margin-top: 20px;
}

.fa-star {
  color: var(--blue);
}

.not-active {
  color: var(--grey);
}

/* 
#################################################
# popular
#################################################
*/

#popular {
  flex-basis: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: var(--grey);
  padding: 35px;
  border-radius: 20px;
  /* background-color: #000; */
}

#popular-title {
  width: 343px;
  display: flex;
  justify-content: space-between;
}

#popular-title i::before {
  font-size: 20px;
}

.popular-articles {
  display: flex;
  flex-direction: column;
  gap: 43px;
}

#popular a {
  display: flex;
  height: 144px;
  width: 343px;
  background-color: #fff;
  border-radius: 15px;
  border: var(--border-5-white);
  box-shadow: 0px 0px 20px var(--grey);
}

#popular img {
  order: -1;
  flex-shrink: 0;
  height: 134px;
  width: 130px;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

#popular .data {
  height: 100%;
  padding: 15px;
}

#popular .star {
  margin-top: auto;
}

#popular h3 {
  margin-left: -18px;
}

/* 
#################################################
# Activity
#################################################
*/

#activity {
  margin: 20px 0;
  padding-top: 20px;
  border-radius: 20px;
  /* background: #000;
  color: #fff; */
}

#activity h2 {
  margin: 20px 0;
}

.activity-articles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 43px;
}

.activity-articles > div {
  display: flex;
  flex-direction: column;
  flex-basis: 302px;
  gap: 43px;
  height: 444.5px;
}

.activity-articles div:nth-child(even) article {
  height: 45%;
  position: relative;
}

.activity-articles div:nth-child(odd) article {
  height: 100%;
  position: relative;
}

.activity-articles article {
  border-radius: 15px;
  box-shadow: 0px 0px 20px var(--grey);
}

.activity-articles a > div {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  padding: 19px;
  font-weight: 700;
  /* line-height: 56px; */
  background-color: #fff;
  border-radius: 0 0 14px 14px;
}

.activity-articles img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 15px;
}

/* Footer */

footer {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  background-color: var(--grey);
}

footer > * {
  flex: 1 0 0;
}

footer li {
  padding-top: 15px;
  width: max-content;
}

/* End Footer */

@media only screen and (max-width: 992px) {
  #hosting {
    flex-direction: column;
  }

  #local-hosting {
    order: 1;
    /* align-items: center; */
    /* max-height: fit-content; */
  }

  #popular {
    order: -1;
  }
}

@media only screen and (max-width: 768px) {
  #header-navbar {
    flex-direction: column;
  }

  .desktop-search {
    display: none;
  }
  .mobile-search {
    display: inline-block;
  }
  #popular .data > * {
    flex-shrink: 1;
    flex-basis: 0;
  }
  .activity-articles > div {
    height: 190px;
  }
  .activity-articles > div > * {
    height: 100%;
  }
}
