/*
#################################################
global settings
#################################################
*/
*,
html,
body,
h1,
h2,
h3,
p {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::before,
::after {
  box-sizing: border-box;
}
:root {
  --blue: #0065fc;
  --blue-light: #deebff;
  --grey: #f2f2f2;
  --body-content: 1390px;
  --border-1-grey: 1px solid var(--grey);
  --border-2-grey: 2px solid var(--grey);
  --border-1-blue: 1px solid var(--blue);
  --border-2-blue: 2px solid var(--blue);
  --border-2-white: 2px solid #fff;
  --border-5-white: 5px solid #fff;
  --shadow-10: 0 0 10px rgba(0, 0, 0, 0.4);
  --shadow-20: 0 0 15px 3px rgba(0, 0, 0, 0.4);
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  max-width: 1490px;
  margin: 0 auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
h1,
h2 {
  font-size: 21px;
  font-weight: bold;
}
h3 {
  font-size: 14px;
  font-weight: bold;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
/* End Global Settings */
/*
#################################################
# header
#################################################
*/
#header {
  margin: 0 50px;
}
#header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-nav img {
  width: 100px;
  padding: 65px 20px 0;
}
#nav-list {
  display: flex;
  margin-bottom: -40px;
}
.nav-item {
  text-transform: capitalize;
}
.nav-item a {
  padding: 55px 25px 0;
}
.nav-item a:hover {
  border-top: var(--border-2-blue);
  color: var(--blue);
}
/* End Header */
/* 
#################################################
# Main
#################################################
*/
#main {
  padding: 50px;
}
#main > P {
  padding: 10px 0;
}
/*
#################################################
# Search Form
#################################################
*/
#search {
  margin: 10px 0 35px;
}
#form {
  display: flex;
}
#btn-icon {
  flex: 0 0 50px;
  z-index: 1;
  border: var(--border-2-grey);
  border-radius: 15px 0 0 15px;
}
.fa-map-marker-alt {
  font-size: 18px;
}
#form input,
#form button[type="submit"] {
  line-height: 48px;
}
#form input {
  flex-basis: 333px;
  margin-left: -50px;
  border-radius: 15px;
  border: var(--border-1-grey);
  padding-left: calc(55px + 2vw);
  font-weight: bold;
}
#form input:focus {
  outline: none;
}
.desktop-search {
  flex: 0 0 134px;
  margin-left: -50px;
  background-color: var(--blue);
  color: #fff;
  border: var(--border-1-blue);
  border-radius: 0 15px 15px 0;
}
.mobile-search {
  flex: 0 0 50px;
  margin-left: -50px;
  background-color: var(--blue);
  color: #fff;
  border: var(--border-1-blue);
  border-radius: 15px;
  display: none;
}
.fa-search {
  font-size: 17px;
}
/* End Search Form */
/* 
#################################################
# filters
#################################################
*/
#filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 35px 0;
}
#filters h3 {
  margin-right: 10px;
  text-transform: capitalize;
}
#filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.filter-item {
  display: flex;
  align-items: center;
  gap: 13px;
  padding-right: 20px;
  border-radius: 24px;
  border: var(--border-2-grey);
  background-color: #fff;
  font-weight: 700;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
}
#filters .fa-stack {
  font-size: 24px;
  margin-left: -8px;
  margin-top: -4px;
}
#filters .fa-stack-1x::before {
  font-size: 19px; /* icon height */
}
#filters .fa-circle {
  font-size: 51px;
}
#filters .fas::before {
  color: var(--blue);
}
#filters .fa-circle:before {
  color: var(--blue-light);
}
.filter-text {
  width: max-content;
}
/* End filters */
/* 
#################################################
# Animation filters
#################################################
*/
#filters .filter-item::after {
  content: ">>";
  position: absolute;
  opacity: 0;
  top: 13px;
  right: -20px;
  transition: all 0.5s;
}
#filters .filter-item:hover {
  padding-right: 35px;
  border: var(--border-2-blue);
}
#filters .filter-item:hover::after {
  opacity: 1;
  right: 10px;
  color: var(--blue);
}
/* End Animation filters */
/* 
#################################################
# Info
#################################################
*/
#info {
  display: flex;
  gap: 12px;
  padding: 5px 0;
}
#info .fa-stack.small {
  font-size: 0.71em;
}
#info .fa-circle::before {
  color: var(--grey);
}
#info .fa-info::before {
  color: var(--blue);
}
/* End Info*/
/* 
#################################################
# Hosting
#################################################
*/
#hosting {
  display: flex;
  gap: 40px;
}
#hosting h2 {
  padding: 5px;
}
.location-item a:hover,
.popular-item a:hover,
.activity-item article a:hover {
  box-shadow: var(--shadow-20);
}
.fa-star {
  color: var(--blue);
}
.not-active {
  color: var(--grey);
}
/* End Hosting */
/* 
#################################################
#Location
#################################################
*/
#location {
  flex-basis: calc(var(--body-content) * 2 / 3 - (40px / 2));
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--grey);
  padding: 2.5%;
  border-radius: 20px;
}
.location-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 5px;
}
.location-item > a {
  display: flex;
  flex-direction: column;
  gap: 7px;
  background-color: #fff;
  border: var(--border-5-white);
  border-radius: 20px;
  box-shadow: var(--shadow-10);
  font-size: 13px;
}
.location-item img {
  order: -1;
  width: 100%;
  max-height: 120px;
  aspect-ratio: 2 / 1;
  border-radius: 18px 18px 0 0;
}
.location-body,
.location-item h3 {
  padding-left: 15px;
}
.location-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 10px;
}
.location-body span {
  font-weight: bold;
}
#location > p {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0;
  margin: 15px 0;
}
#location p > a:hover {
  text-decoration: underline;
  color: var(--blue);
}
/* End Location  */
/* 
#################################################
# Popular
#################################################
*/
#popular {
  flex-basis: calc(var(--body-content) / 3 - (40px / 2));
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: var(--grey);
  padding: 3%;
  border-radius: 20px;
}
#popular-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#popular-title > h2 {
  white-space: nowrap;
}
#popular-title i::before {
  font-size: 20px;
}
.popular-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.popular-item a {
  display: flex;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: var(--shadow-10);
  font-size: 13px;
}
.popular-item img {
  order: -1;
  width: 38%;
  aspect-ratio: 130 / 137;
  border-radius: 15px 0 0 15px;
  border: var(--border-5-white);
}
.popular-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5%;
}
#popular .stars {
  margin-top: auto;
}
/* End Popular  */
/* 
#################################################
# Activity
#################################################
*/
#activity {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  border-radius: 20px;
}
#activity h2 {
  margin: 20px 0;
}
.activity-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 43px;
  height: 100%;
}
.activity-item {
  display: flex;
  gap: 43px;
  flex: 1;
}
.activity-list article {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: var(--shadow-10);
}
.activity-list a {
  height: 100%;
  border-radius: 20px;
}
.small-card-list,
.big-card {
  display: flex;
  flex-direction: column;
  gap: 43px;
  width: calc(50% - (43px / 2));
  height: 444.5px;
  min-width: 244px;
}
.big-card img {
  height: 100%;
  border-radius: 15px;
}
.small-card1 {
  height: calc(58% - (43px / 2));
}
.small-card2 {
  height: calc(42% - (43px / 2));
}
.small-card3 {
  height: calc(48% - (43px / 2));
}
.small-card4 {
  height: calc(52% - (43px / 2));
}
.small-card-list img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.activity-list h3 {
  font-size: 15px;
  margin-top: -60px;
}
.activity-list h3 span {
  display: inline-block;
  z-index: 1;
  width: 100%;
  padding: 0 19px;
  font-weight: 700;
  line-height: 56px;
  background: white;
  border-radius: 0 0 14px 14px;
}
/* End Activity  */
/*
#################################################
# Footer 
#################################################
*/
#footer {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  background-color: var(--grey);
}
#footer h3 {
  font-size: 16px;
}
#footer > * {
  flex-basis: calc(100% / 3 - (50px * 2 / 3));
}
#footer li {
  padding-top: 15px;
  width: max-content;
}
/* End Footer */
/* 
#################################################
# Media Queries < 992
#################################################
*/
@media only screen and (max-width: 992px) {
  /* 
  ###############################################
  # Location < 992
  ###############################################
  */
  #location,
  #popular {
    flex: 1;
  }
  #location h2 {
    margin-right: auto;
  }
  .popular-item {
    max-width: 335px;
    margin: auto;
  }
  /* 
  ###############################################
  # Activity < 992
  ###############################################
  */
  #activity {
    margin: 20px 0 50px;
  }
  .activity-item {
    flex-basis: auto;
  }
  /* 
  ###############################################
  # Footer < 992
  ###############################################
  */
  #footer {
    flex-direction: column;
  }
  #footer > * {
    text-align: center;
  }
}
/* 
#################################################
# Media Queries < 768
#################################################
*/
@media only screen and (max-width: 768px) {
  /* 
  ###############################################
  # Header < 768
  ###############################################
  */
  #header {
    margin: 0;
  }
  #header-nav {
    flex-direction: column;
    align-items: stretch;
    padding: 0 0 20px 0;
    margin: 0;
  }
  .nav-item {
    flex: 1;
    text-align: center;
  }
  #header-nav > a {
    align-self: center;
  }

  #header-nav img {
    width: 110px;
    padding: 30px;
  }
  .nav-item a {
    padding: 12px 20%;
  }
  .nav-item a:hover {
    border-top: none;
    border-bottom: var(--border-2-blue);
    color: var(--blue);
  }
  /* 
  ###############################################
  # Main < 768
  ###############################################
  */
  #main {
    padding: 35px 0;
  }
  #main > h1 {
    padding: 20px;
    margin-top: 20px;
  }
  #main > p {
    padding: 0 20px;
  }
  /* 
  ###############################################
  # Search Form < 768
  ###############################################
  */
  #search {
    padding: 5vw;
  }
  .desktop-search {
    display: none;
  }
  .mobile-search {
    display: inline-block;
  }
  /* 
  ###############################################
  # Hosting < 768
  ###############################################
  */
  #hosting {
    flex-direction: column;
    gap: 2vw;
  }
  #hosting h2,
  #activity h2 {
    font-size: clamp(1.2rem, 0.924rem + 1.2vw, 1.5rem);
  }
  /* 
  ###############################################
  # Popular < 768
  ###############################################
  */
  #popular,
  #location {
    border-radius: 0;
  }
  #popular {
    order: -1;
    gap: 26px;
    padding: 35px 5vw;
  }
  .popular-list {
    gap: 12px;
    padding: 0;
    font-size: 13px;
  }
  .popular-item {
    margin: auto;
  }
  .popular-item a {
    width: 334px;
  }
  .popular-item img {
    aspect-ratio: 1 / 1;
  }

  /* 
  ###############################################
  # Location < 768
  ###############################################
  */
  #location {
    padding: 35px 5vw;
    background: #fff;
    gap: 5vw;
  }
  .location-list {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .location-item a {
    width: 340px;
  }
  .location-item img {
    height: 100%;
    aspect-ratio: 330 / 120;
  }
  /* 
  ###############################################
   # Activity < 768
  ###############################################
  */
  #activity {
    padding: 0 5vw;
    margin: 0;
  }
  .activity-item,
  .activity-list,
  .small-card-list {
    gap: 22px;
  }
  .activity-list,
  .activity-item {
    flex-direction: column;
    align-items: center;
  }
  .activity-list article {
    flex-basis: 190px;
  }
  .big-card {
    width: 335px;
    margin: auto;
  }
  .small-card-list {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .small-card-list article {
    width: 335px;
  }
  .activity-item img {
    aspect-ratio: 334 / 190;
  }
  /* 
  ###############################################
  # Footer < 768
  ###############################################
  */
  #footer {
    padding: 50px 30px;
    margin-top: 15px;
  }
  #footer > * {
    text-align: left;
  }
  #footer li {
    margin-left: 0;
  }
}
/* 
#################################################
# Media Queries < 368px
################################################# 
*/
@media screen and (max-width: 368px) {
  /* 
  ###############################################
  # Header
  ###############################################
  */
  .nav-item a {
    padding: 12px 10%;
  }
  /* 
  ###############################################
  # Hosting & Activity < 368
  ###############################################
  */
  .popular-item a,
  .location-item a,
  .big-card,
  .small-card-list article {
    width: 100%;
  }
}
